[user]
	name = Jason McCreary
	email = jason@pureconcepts.net
[alias]
	unstage = reset HEAD --
	logo = log --oneline
	append = commit --amend --no-edit
	lola = log --graph --oneline --decorate --all
	wip = commit -m \"WIP\"
[core]
	excludesfile = ~/.gitignore_global
	editor = /usr/bin/vim
	ignorecase = false
